*a{
    text-decoration: none;
}
li{
    text-decoration: none;
}
*body{
    font-family: 'Chilanka', cursive;
}
.logo{
    background: #ffe4e0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.graficlogo{
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
}
*nav{
    margin: auto;
    width: 800px;
    height: 50px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #fdb3b3;
    background-image: url(https://images.pexels.com/photos/1447367/pexels-photo-1447367.jpeg);
    background-size: cover;
    height: 100vh;
    font-family: 'Chilanka', cursive;
    letter-spacing: 1px;
  }
  h1 {
    text-align: center;
    color: #fff;
    padding-top: 20px;
  }
  
  ul {
    list-style: none;
  }
  
  nav {
    height: 40px;
    margin: 40px auto;
    background-color: rgba(23, 23, 50, 0.7);
    text-align: center;
    border-radius: 4px;
  }
  .main {
    display: flex;
    justify-content: center;
  }
  .main > li {
    margin: 0 2%;
  }
  .main > li a{
    border-left:1px solid rgba(23, 23, 50, 1);
  }
  a {
    text-decoration: none;
    color: #ffe;
    text-transform: capitalize;
    display: block;
    padding: 10px 15px;
    font-size: 13px;
    transition: background-color 0.5s ease-in-out;
  }
  
  a:hover {
    background-color: #f17b7b;
  }
  
  .drop li {
    opacity: 0;
    transform-origin: top center;
  }
  
  .drop li a {
    background-color: rgba(23, 23, 50, 0.7);
    padding: 10px 0;
  } 
  /*------------- menu6 animation -------------------*/
  
  .main li:hover .menu6 li:first-of-type {
    animation: menu6 0.1s ease-in-out forwards;
    animation-delay: 0.1s;
  }
  
  .main li:hover .menu6 li:nth-of-type(2) {
    animation: menu6 0.1s ease-in-out forwards;
    animation-delay: 0.2s;
  }
  
  .main li:hover .menu6 li:nth-of-type(3) {
    animation: menu6 0.1s ease-in-out forwards;
    animation-delay: 0.3s;
  }
  
  .main li:hover .menu6 li:last-of-type {
    animation: menu6 0.1s ease-in-out forwards;
    animation-delay: 0.4s;
  }
  
  @keyframes menu6 {
    0% {
      opacity: 0;
      transform: scale(2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* my button style */
  .white-mode {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #122;
    border-radius: 3px;
    color: #fff;
    transition: 0.35s ease-in-out;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-family: sans-serif;
  }
  
  .white-mode:hover {
    background-color: #fff;
    color: #122;
  }
  